# Ignorar arquivos grandes
data/processed/base_geral.parquet
data/raw/applicants.json
data/raw/prospects.json
data/raw/vagas.json
data/processed/base_tratada.parquet
data/processed/feature_engineering.parquet
data/processed/dataset_modelagem.parquet
dados_treinamento.pkl
data/inference/dados_testes.csv
data/inference/predicoes.csv